.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: ease-in 0.4s;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  z-index: 999;
}

.modal__image-title {
  position: absolute;
  bottom: -34px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: white;
  left: 0px;
  width: 291px;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
}

.modal__container_image {
  background: transparent;
  width: auto;
  height: auto;
  display: flex;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.modal__close {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  max-width: 330px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  width: 380px;
  display: grid;
  margin-top: 54px;
}
.modal__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 28px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__label {
  position: relative;
  padding-bottom: 35px;
}

.modal__button {
  height: 50px;
  background-color: black;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  margin-top: 28px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__error {
  font-weight: 400;
  text-align: left;
  line-height: 14px;
  color: #ff0000;
  font-family: Inter, Arial, sans-serif;
  font-size: normal;
  font-size: 12px;
  visibility: hidden;
  position: absolute;

  width: 100%;
  transition: opacity 0.5;
}

.modal__button_disabled {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  background-color: transparent;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
  width: 100%;
}

.modal__error_visible {
  visibility: visible;
  text-align: left;
  margin-bottom: 13px;
  padding-top: 5px;
}

.modal__error_visible:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__form {
    max-width: 238px;
    margin: 0;
  }
  .modal__form-input {
    max-width: 238px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
    left: unset;
    top: -50px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .modal__input {
    width: 238px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__description {
    width: 238px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 45px;
  }

  .modal__button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }

  .modal__image-title {
    bottom: -10px;
    left: 20px;
  }

  .modal__close-image {
    top: -5px;
    margin-right: -15px;
  }
}
